@import url("base.css");

/* img settings */

#projects img {
  width: 70%;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

/* hyperlinks */

a {
  color: #fff;
}

a:hover {
  color: rgb(113, 227, 255);
}

#blogs a {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #666;
}

#projects span {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #666;
  margin-bottom: 10px;
}